<div class="footer">

    <div class="footer_container">

        <div id="col" style=" margin-left:75px;">
            <b>Bilecik Emlak</b>
            <ul>
                <li>Hakkımızda</li>
                <li>Ödüllerimiz</li>
                <li>Kurumsal Materyaller</li>
                <li>Reklam</li>
                <li>İnsan Kaynakları</li>
                <li>Site Haritası</li>
            </ul>
        </div>
        <div id="col">
            <b>Hizmetlerimiz</b>
            <ul>
                <li>Size Özel Hizmetlerimiz</li>
                <li>Emlak Haberleri</li>
                <li>Kurumsal Üyelik</li>
                <li>Projeler</li>
                <li>Ücretsiz İlan Ver</li>
            </ul>
        </div>
        <div id="col">
            <b>Diğer</b>
            <ul>
                <li>İlan Yayınlama Kuralları</li>
                <li>Kullanım Koşulları</li>
                <li>Üyelik Sözleşmesi ve Gizlilik Politikası</li>
                <li>İşlem Rehberi</li>
                <li>Çerez Politikası</li>
                <li>Kişisel Verilerin Korunması </li>
            </ul>
        </div>
        <div id="col" style="margin-right:75px; float:right;">
            <b>İLETİŞİM</b> <br /><br />
            <button class="btn">02282141111</button> <br /><br />
            <button class="btn">Mesaj Gönder</button> <br /><br />
            <button class="btn">Harita</button>
        </div>
    </div>
    
</div>
