@model vizeEmlak.Models.NewHouse

<div class=" ana row" style="float:left; ">
    <div class="col" id="sutun">
        <div class="row">
            @Model.Resim
        </div>

        <div class="house" style="margin-top:15px;margin-right:50px;margin-left:115px;">
            <h5>@Model.Il</h5>
            <h5>@Model.IlanSayisi'den fazla ilan </h5>
        </div>
    </div>
</div>