@model List<vizeEmlak.Models.EmlakBilgi>
@{
    ViewBag.Title = "OnEvListele";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div class="container">
        @foreach (var house in Model)
        {
            @Html.Partial("~/Views/Main/Partial/_OnEv.cshtml", house)
        }

    </div>
